RewriteEngine on

RewriteBase /

# use the TypeSafe dispatcher to handle all requests except file requests
RewriteCond %{REQUEST_FILENAME}       !-f
RewriteRule ^(.*)$                    system/dispatcher.php  [QSA,L]
